/* RESET BÁSICO */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BODY */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #c7b7a3;
  color: #323232;
}

/* Conteúdo centralizado, mas não travado */
.site {
  width: 100%;
}

/* NAV */
nav {
  background-color: #5f4633;
  padding: 15px;
  color: white;
  text-align: center;
  border-radius: 20px;
  margin: 16px;
  margin-bottom: 20px;
  padding: 16px;
  border-radius: 20px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 20px;
}
.home h2  {
    display: flex;
  justify-content: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 20px;
   text-decoration: none;
  font-weight: bold;
  position: relative;
  padding: 6px 4px;
  transition: color 0.3s ease;

}
nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #ffd7a8;
  transition: width 0.3s ease;
}
nav a:hover::after {
  width: 100%;
   transform: scale(1.08);
}
nav a:hover {
  color: #ffd7a8;
}

/* SEÇÃO PRODUTOS */
#produtos {
  text-align: center;
  margin-top: 40px;
}

#produtos h2 {
  display: inline-block;
  background: #561c24;
  color: white;
  padding: 14px 32px;
  border-radius: 999px;
  margin-bottom: 40px;
}

/* GRID */
.lista-produtos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
  max-width: 900px;
  margin: 0 auto 60px;
}

/* CARD */
.produto {
  text-align: center;
  font-weight: bold;
}

/* CONTAINER DA IMAGEM */
.imagem-container {
  position: relative;
  
}

/* IMAGEM */
.imagem-container img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 20px;
  border: 5px solid #561c21;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

/* PREÇO EM CIMA DA IMAGEM */
.preco {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);

  background: #6d2932;
  color: white;
  padding: 8px 18px;
  border-radius: 999px;
  border: 4px solid #561c21;

  font-size: 18px;
}

/* TEXTO */
.nome {
  margin-top: 14px;
  font-size: 18px;
}

.descricao {
  font-weight: normal;
  margin: 8px 0;
}

#produtos {
  margin-top: 40px;
}

/* TÍTULOS */
.titulo-secao {
  background: #561c24;
  color: white;
  padding: 16px 24px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 24px;
}

.categoria {
  margin: 32px 0 16px;
  font-size: 22px;
}

/* GRID */
.lista-produtos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-bottom: 40px;
}

/* CARD */
.produto {
  text-align: center;
}

/* IMAGEM */
.imagem-container {
  position: relative;
}

.imagem-container img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 20px;
  border: 5px solid #561c21;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

/* PREÇO */
.preco {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  background: #6d2932;
  color: white;
  padding: 8px 18px;
  border-radius: 999px;
  border: 4px solid #561c21;
  font-size: 18px;
  transition: transform 0.3s ease, background 0.3s ease;


}

.produto:hover .preco {
  transform: scale(1.2);
  background: #8b3a3a;
}

/* TEXTO */
.nome {
  margin-top: 14px;
  font-size: 18px;
}

.descricao {
  margin-top: 6px;
  font-weight: normal;
}

.produto img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.produto img:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

.home img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
     display: flex;        /* Ativa o Flexbox */
            justify-content: center; /* Centraliza horizontalmente */
            align-items: center;     /* Centraliza verticalmente */
            height: 100vh;    
             display: block;       /* Faz a imagem se comportar como bloco */
            margin: 0 auto;       /* Margens automáticas centralizam horizontalmente */
            max-width: 80%;      /* Evita que a imagem ultrapasse o tamanho da tela */
            height: auto;
            border-radius: 20px;

}
.home img:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

.home p {
    margin-bottom: 40px;
    display: flex;
  justify-content: center;
}

.header h2 {
    display: flex;
  justify-content: center;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 20px;
}


/* Sobre nos */
.Sobre-Nós {
   background-color: rgba(255, 255, 255, 0.9);
        color: #333;
        padding: 40px;
        border-radius: 15px;
        text-align: center;
        max-width: auto; /* Evita que ultrapasse a tela */
        width: 800px;   /* Largura padrão em telas grandes */
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        margin: 0 auto 60px;
}

.Sobre-Nós:hover {
    transform: scale(1.06);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.Sobre-Nós h2 {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.Sobre-Nós:hover h2 {
    color: #561c24;

}
.Sobre-Nós h2::after {
    content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #000000;
  transition: width 0.3s ease;
}
.Sobre-Nós:hover h2::after {
    width: 100%;
}


.Sobre-Nós p {
    text-align: center;
    max-width: 1500px;
    font-size: 25px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.whatsapp {
    position: fixed;       /* Fixa na tela */
    bottom: 20px;          /* Distância do rodapé */
    right: 20px;           /* Distância da lateral direita */
    width: 60px;           /* Tamanho do botão */
    height: 60px;
    border-radius: 50%;    /* Faz o botão redondo */
    background-color: #25D366; /* Cor oficial do WhatsApp */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    z-index: 1000;         
    transition: transform 0.2s;
}

.whatsapp:hover {
    transform: scale(1.1); 
}

.whatsapp img {
    width: 60%;            /* usa % do botão, não px */
    height: 60%;
    object-fit: contain;
}